:root {
  font: 16px;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #141517;
  color: #a2d5d8;
}
main {
  align-content: center;
}

.h1 {
  font-family: 'Hind', sans-serif;
  display: flex;
  justify-content: center;
  color: whitesmoke;
}
.h2 {
  font-family: 'Hind', sans-serif;
  display: flex;
  justify-content: center;
  color: whitesmoke;
}
p {
  font-family: 'Lato', sans-serif;
  color: whitesmoke;
}

.nav-bar {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}

.album-img {
  display: flex;
  justify-content: center;
  height: 10rem;
  width: auto;
  padding-top: 1rem;
}

.band-img {
  display: flex;
  justify-content: center;
  height: 20rem;
  width: auto;
}

.band-name {
  display: flex;
  justify-content: center;
}

.album {
  display: flex;
  justify-content: center;
}

.band-info {
  margin: auto;
  padding-right: 1rem;
  padding-top: 1rem;
  font-size: 1rem;
}

li {
  list-style: none;
}

a {
  color: #a2d5d8;
}

a:hover {
  background-color: darkorchid;
}
